@import './sass/form', './sass/tap', './sass/nowrap', './sass/border';

/* reset start */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.6;
  font-family: '微软雅黑', 'Droid Sans Fallback', 'HelveticaNeue';
  color: #333333;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

i {
  font-style: normal;
}

li {
  list-style: none;
}

/* reset end */

body:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #eee;
}

[v-cloak] {
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

@font-face {
  font-family: 'iconfont'; /* project id 927226 */
  src: url('//at.alicdn.com/t/font_927226_yh1e36vh19.eot');
  src: url('//at.alicdn.com/t/font_927226_yh1e36vh19.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_927226_yh1e36vh19.woff') format('woff'),
    url('//at.alicdn.com/t/font_927226_yh1e36vh19.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_927226_yh1e36vh19.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list_sel:before {
  content: '\e744';
}

.icon-tishi_shibai:before {
  content: '\e7d4';
}

.icon-jinru:before {
  content: '\e7ea';
}

.icon-bar_qingchu:before {
  content: '\e7ec';
}

.icon-tiezi_dingwei:before {
  content: '\e7f9';
}

.icon-guanbi:before {
  content: '\e805';
}

.icon-wode_zuzhizhangh:before {
  content: '\e813';
}

.icon-nav_shouye_def:before {
  content: '\e817';
}

.icon-nav_shouye_sel:before {
  content: '\e818';
}

.icon-nav_wode_sel:before {
  content: '\e819';
}

.icon-dl_shouji:before {
  content: '\e81a';
}

.icon-nav_wode_def:before {
  content: '\e81b';
}

.icon-dl_mima:before {
  content: '\e81c';
}

.icon-dl_yanzhengma:before {
  content: '\e81d';
}

.icon-hd_bianji:before {
  content: '\e81e';
}

.icon-hd_huodonghaibao:before {
  content: '\e81f';
}

.icon-hd_erweima:before {
  content: '\e820';
}

.icon-hd_qiandaomingdan:before {
  content: '\e821';
}

.icon-dl_zhanghu:before {
  content: '\e822';
}

.icon-hd_zhongchou:before {
  content: '\e823';
}

.icon-shijian:before {
  content: '\e824';
}

.icon-gengduo:before {
  content: '\e825';
}

.icon-shouye_xiaoxiqunfa:before {
  content: '\e826';
}

.icon-shouye_wodezhongchou:before {
  content: '\e827';
}

.icon-shouye_wodehuodong:before {
  content: '\e828';
}

.icon-shouye_xinjianhuodon:before {
  content: '\e829';
}

.icon-shouye_xinjianzhongc:before {
  content: '\e82a';
}

.icon-wode_zhongchoujilu:before {
  content: '\e82b';
}

.icon-tishi_tixing:before {
  content: '\e82c';
}

.icon-tishi_chenggong:before {
  content: '\e82d';
}
